.form {
  width: 700px;
  background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0,
    radial-gradient(circle closest-side, #ffffff 53%, rgba(255, 255, 255, 0) 0)
      0 0,
    radial-gradient(circle closest-side, #ffffff 50%, rgba(255, 255, 255, 0) 0)
      55px 0 #48b;
  background-size: 110px 200px;
  background-repeat: repeat-x;
}

.somespace {
  padding: 15px !important;
  border: 1px solid black;
  border-radius: 3px;
}

input:hover {
  background-color: hsl(0, 100%, 90%);
}
